/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.container {
  border: 1px solid #333;
  border-radius: 20px;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background: #333;
}

.timer {
  font-size: 50px;
  margin: 10px auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.time {
  margin-top: 70px;
  z-index: 1;
  position: relative;
}

.filler {
  background: #ddffcc;
  height: 0px;
  width: 200px;
  position: absolute;
  bottom: 0;
}

.buttons button {
  background: #4da6ff;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 90px;
  margin: 10px 5px;
  font-size: 14px;
  height: 50px;
  border-radius: 50px;
}

button.shortBreak {
  background: #0c0;
}

button.longBreak {
  background: #080;
}

button.stop {
  background: #f00;
}

/* progress bar */
.circle_progress_wrap {
  position: relative;
  width: 200px;
  height: 200px;
}
.circle_progress {
  transform: rotate(-90deg);
}
.frame,
.bar {
  fill: none;
}
.frame {
  stroke: #e6e6e6;
}
.bar {
  stroke: #e77d76;
  stroke-linecap: round;
}
.value {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
  color: #e77d76;
  font-size: 48px;
  line-height: 200px;
}
